@media (max-width: 767px) {


    body {
        margin: 0;
        font-family: "Roboto", sans-serif;
        align-items: center;
        justify-content: center;
    }

    /* partie header */




    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 192, 5px;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 17px;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 19px;
        background-color: #EAEAEA;
        color: #353535;


    }

    nav a {
        text-decoration: none;
    }

    .background-color {
        background-color: #F7F7F7;
        padding-top: 20px;
        padding-bottom: 60px;
    }


    .title {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;

    }

    .sub-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #353535;

    }

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: linear-gradient(#FF79DA, #9356DC);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        width: 218px;
        height: 50px;
        cursor: pointer; 
        margin-top: 40px;
        margin: auto;
        color: #FFFFFF;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
    }
    

    /* section fonctionnement */



    .section-title {

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-top: 45px;
        margin-bottom: 1px;
        padding-right: 90px;
    }



    .number {

        position: relative;
        right: 145px;
        top: 45px;
        border-radius: 20px;
        background-color: #9356DC;
        width: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 3px;
        color: #F7F7F7;
        text-align: center;

    }



    .menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        align-items: center;
    }


    .flex-border {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 30px;
        gap: 20px;
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        width: 290px;

    }

    .icon-color {
        color: #7E7E7E;
        height: 35px;
        margin-left: 30px;

    }

    .icon-color2 {
        color: #9356DC;
        height: 35px;
        margin-left: 30px;
    }



    .text-color {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #000000;
    }



    /* section restaurants */

    .section-restaurants {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F7F7F7;
        padding-top: 15px;

    }

    .section-restaurants a {
        text-decoration: none;

    }

    .title-restaurant {


        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-top: 45px;
        padding-right: 130px;

    }


    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-bottom: 50px;


    }




    .card {
        margin-left: 0;
        margin-right: 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        height: 225px;
        width: 300px;
    }

    .card img {
        border-radius: 15px 15px 0px 0px;
        Width: 100%;
        Height: 150px;
        object-fit: cover;

    }



    .sub-title-img {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #000000;
    }

    .sub-title-p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        color: #000000;


    }


    .sub-title-img,
    .sub-title-p {
        margin-top: 15px;
        margin-left: 15px;
        line-height: 2px;

    }

    .i-heart {
        position: relative;
        bottom: 22px;
        font-size: 22px;
        color: #000000;

    }

    .i-heart-color {
        position: relative;
        padding-left: 160px;
        bottom: 22px;
        font-size: 22px;
        background-image: linear-gradient(#FF79DA, #9356DC);
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }




    .left {
        left: 125px;
    }

    .left2 {
        left: 150px;
    }

    .left3 {
        left: 115px;
    }


    .section-footer {
        display: flex;
        flex-direction: column;
        gap: 10px;




    }

    .footer-color {
        background-color: #353535;
        padding-top: 10px;
        padding-left: 20px;



    }

    .section-footer h3 {
        color: #FFFFFF;
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 10px;
    }

    .section-footer a {
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .i-color {
        display: flex;
        gap: 15px;
        color: #FFFFFF;

    }

    .i-color2 {
        display: flex;
        gap: 10px;
        color: #FFFFFF;
    }


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    figure {
        margin: 0;
    }

    figure img {
        object-fit: cover;
        width: 100%;
        height: 130%;
    }

   

    .cards-restaurant {
        background: #F7F7F7;
        border-radius: 40px 40px 0px 0px;
        padding-top: 20px;
        width: 100%;
    }

    .card-plus {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .card-restaurant {
        background: #FFFFFF;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15.0431px;
        width: 95%;
        height: 70px;



    }

    .card-title {
        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #000000;
    }


    .card-p {
        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        color: #000000;

    }

    .card-price {
        position: absolute;
        right: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15.0431px;
        color: #353535;
    }

    .card-title,
    .card-p {
        margin-left: 15px;
        line-height: 8px;
    }

    .title-card-restaurant {
        font-family: 'Shrikhand';       
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
        color: #101010;
        margin-left: 15px;

    }

    .sub-title-restaurant {
        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-top: 20px;
        padding-left: 15px;
        border-bottom: 3px solid #99E2D0;
        width: 15%;
        line-height: 30px;
        
    }

    .title-card-restaurant i {
        font-size: 22px;
        padding-left: 15px;
    }


    .link-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }

    .btn{
        
        background: linear-gradient(#FF79DA, #9356DC);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        border: none;
        padding: 0px 45px 0px 45px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        cursor: pointer;
        
    }
}