body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
}





.loader {
    position: fixed;
    height: 100vh;
    inset: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.856);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: time-loader 5s forwards;

}

@keyframes time-loader {
    0% {
        opacity: 1;
    }

    90% {
        display: flex;
        opacity: 1;
        z-index: 1;
        height: 100vh;
    }

    100% {
        display: none;
        opacity: 0;
        z-index: 0;
        width: 0;
        height: 0;
    }
}

.letter {
    color: #0a87ee;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 10px;
    animation: flash 1.5s linear infinite;

}

.letter:nth-child(1) {
    animation-delay: 0.1s;
}

.letter:nth-child(2) {
    animation-delay: 0.2s;
}

.letter:nth-child(3) {
    animation-delay: 0.3s;
}

.letter:nth-child(4) {
    animation-delay: 0.4s;
}

.letter:nth-child(5) {
    animation-delay: 0.5s;
}

.letter:nth-child(6) {
    animation-delay: 0.6s;
}

.letter:nth-child(7) {
    animation-delay: 0.7s;
}

@keyframes flash {

    0% {
        color: #f50707;
        text-shadow: 0 0 7px #f50707;
    }

    90% {
        color: #0a87ee;
        text-shadow: none;
    }

    100% {
        color: #f50707;
        text-shadow: 0 0 7px #f50707;
    }

}





/* partie header */




.logo img {
    display: block;
    margin: auto;
    width: 193px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
   
}

.logo::after {
    display: block;
    content: "";
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.123); 
    width:100%;
    height:2px;
    position: relative;
    top:-2px;
    

    
}



.logo i {
    position: relative;
    right: 50px;
    color: #353535;
    font-size: 19px;

}




.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #353535;
    background-color: #EAEAEA;


}

.location h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #353535;
}

nav a {
    text-decoration: none;
}

.background-color {
    background-color: #F7F7F7;
    padding-top: 20px;
    padding-bottom: 60px;

}


.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;

}

.sub-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #353535;

}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 240px;
    height: 50px;
    cursor: pointer;
    margin-top: 40px;
    margin: auto;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    transition: all 300ms;
}

.button:hover {
    transform: scale(1.008);
    opacity: 0.8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 2);
}


/* section fonctionnement */



.section-title {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 45px;
    margin-bottom: 20px;
    padding-right: 90px;
}




.number {

    position: absolute;
    left: -10px;
    top: 17px;
    border-radius: 20px;
    background-color: #9356DC;
    width: 20px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 3px;
    color: #F7F7F7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}



.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin-top: -20px;
    margin-bottom: 30px;
    justify-content: center;
    white-space: nowrap;


}


.flex-border {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 300px;
    height: 65px;
    white-space: nowrap;
    position: relative;
    margin: 15px;

}

.icon-color {
    color: #7E7E7E;
    height: 35px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.icon-color2 {
    color: #9356DC;
    height: 35px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}



.text-color {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}



/* section restaurants */

.section-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    padding-top: 15px;
    padding-bottom: 45px;
}

.section-restaurants a {
    text-decoration: none;

}

.title-restaurant {


    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 45px;
    padding-right: 130px;

}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;



}

.cards a {
    height: 220px;
}


.card {
    margin-left: 0;
    margin-right: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 225px;
    width: 300px;
}

.card img {
    border-radius: 15px 15px 0px 0px;
    Width: 100%;
    Height: 150px;
    object-fit: cover;

}



.sub-title-img {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.sub-title-p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    color: #000000;


}


.sub-title-img,
.sub-title-p {
    margin-top: 15px;
    margin-left: 15px;
    line-height: 7px;

}



.empty {
    position: relative;
    bottom: 55px;
    left: 130px;
    font-size: 22px;

}

.full {
    position: relative;
    bottom: 55px;
    left: 102px;
    font-size: 22px;
    opacity: 0;
    transform: scale(0);
    transition-property: all;
    transition-duration: 700ms;

}


.heart-container:active .full {
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1);
    opacity: 1;


}



.section-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer-color {
    background-color: #353535;
    padding-top: 10px;
    padding-left: 20px;




}

.section-footer h3 {
    color: #FFFFFF;
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}

.section-footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.i-color {
    display: flex;
    gap: 15px;
    color: #FFFFFF;

}

.i-color2 {
    display: flex;
    gap: 10px;
    color: #FFFFFF;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-desktop {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 192.5px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-desktop .logo-left {
    position: absolute;
    left: 20px;
    top: 28px;
    color: #353535;
}







figure {
    margin: 0;
}

figure img {
    object-fit: cover;
    width: 100%;
    height: 130%;
}

.case {
    position: relative;
    bottom: 205px;
    left: 185px;
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    padding: 10px 15px 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #008766;

}

.cards-restaurant {
    background: #F7F7F7;
    border-radius: 40px 40px 0px 0px;
    padding-top: 20px;
    width: 100%;
}

.card-plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.card-restaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 95%;
    height: 60px;
    overflow: hidden;


}



.entrées {

    animation: slide 2000ms linear 0s;

}

.plats {
    animation-name: slide;
    animation-duration: 2000ms;


}

.desserts {
    animation-name: slide;
    animation-duration: 2000ms;


}


@keyframes slide {
    from {

        opacity: 0;
        width: 50%;

    }

    to {

        opacity: 1;
        width: 100%;
    }


}

.card-description {
    display: flex;
    align-content: space-around;
    align-items: center;
    min-width: 100%;
    transition-duration: 100ms;
    flex-wrap: wrap;
    height: 60px;
}

.check-box {
    border-radius: 0px 15px 15px 0px;
    background-color: #99E2D0;
    min-width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.check-center {
    display: flex;
    color: #FFFFFF;

}

.card-restaurant:active .card-description {
    cursor: pointer;
    min-width: calc(100% - 60px);


}

.card-restaurant:active .card-p {
    overflow: hidden;
    width: calc(100% - 60px);
    text-overflow: ellipsis;



}



.card-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    width: 100%;
    padding: 0;
    margin: 0;

}


.card-p {

    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #000000;
    white-space: nowrap;
    margin: 0;
    width: calc(100% - 60px);
    transition: all 2s;
    text-overflow: ellipsis;
    overflow: hidden;

}



.card-price {
    background-color: #FFFFFF;
    position: sticky;
    left: 265%;
    bottom: 8px;
    margin-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #353535;


}



.card-title,
.card-p {
    height: 18px;
    margin-left: 15px;


}

.title-card-restaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #101010;
    margin-left: 10px;

}

.title-card-restaurant i {
    position: absolute;
    left: 290px;
    font-size: 21px;

}

.heart-full {
    opacity: 0;
    transition-property: all;
    transition-duration: 3000ms;
}

.heart-full:active {
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

.sub-title-restaurant span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 20px;
    line-height: 30px;


}

.sub-title-restaurant {
    padding-left: 15px;
}

.sub-title-restaurant span:after {
    display: block;
    content: "";
    width: 12%;
    height: 3px;
    background-color: #99E2D0;
}


.btn {

    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    padding: 0px 45px 0px 45px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all;

}

.btn:hover {
    transform: scale(1.0005);
    opacity: 0.9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 2);

}

@media (min-width:1080px) {


    body {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;

    }





    .loader {
        position: fixed;
        height: 100vh;
        inset: 0;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.856);
        display: flex;
        align-items: center;
        justify-content: center;
        animation: time-loader 5s forwards;

    }

    @keyframes time-loader {
        0% {
            opacity: 1;
        }

        90% {
            display: flex;
            opacity: 1;
            z-index: 1;
            height: 100vh;
        }

        100% {
            display: none;
            opacity: 0;
            z-index: 0;
            width: 0;
            height: 0;
        }
    }

    .letter {
        color: #0a87ee;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 10px;
        animation: flash 1.5s linear infinite;

    }

    .letter:nth-child(1) {
        animation-delay: 0.1s;
    }

    .letter:nth-child(2) {
        animation-delay: 0.2s;
    }

    .letter:nth-child(3) {
        animation-delay: 0.3s;
    }

    .letter:nth-child(4) {
        animation-delay: 0.4s;
    }

    .letter:nth-child(5) {
        animation-delay: 0.5s;
    }

    .letter:nth-child(6) {
        animation-delay: 0.6s;
    }

    .letter:nth-child(7) {
        animation-delay: 0.7s;
    }

    @keyframes flash {

        0% {
            color: #f50707;
            text-shadow: 0 0 7px #f50707;
        }

        90% {
            color: #0a87ee;
            text-shadow: none;
        }

        100% {
            color: #f50707;
            text-shadow: 0 0 7px #f50707;
        }

    }





    /* partie header */




    /* .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 193px;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .logo i {
        position: relative;
        right: 50px;
        color: #353535;
        font-size: 19px;
    }

    .location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: none;
        color: #353535;
        background-color: #EAEAEA;

    }

    .location h3 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #353535;
    }

    nav a {
        text-decoration: none;
    }

    .background-color {
        background-color: #F7F7F7;
        padding-top: 20px;
        padding-bottom: 60px;
    }


    .title {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 28px;
        color: #000000;

    }

    .sub-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #353535;

    }

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: linear-gradient(#FF79DA, #9356DC);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        width: 240px;
        height: 50px;
        cursor: pointer;
        margin-top: 40px;
        margin: auto;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        transition: all 300ms;
    }

    .button:hover {
        transform: scale(1.008);
        opacity: 0.8;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 2);


    } */


    /* section fonctionnement */



    .section-title {
        position: relative;
        bottom: 90px;
        padding-left: 200px;
        width: 100%;
        margin-top: -30px;

    }



    .number {

        position: absolute;
        left: -10px;
        top: 17px;
        border-radius: 20px;
        background-color: #9356DC;
        width: 20px;
        height: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 3px;
        color: #F7F7F7;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

    }



    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5%;
        margin-top: 90px;
        margin-bottom: -40px;
        justify-content: center;
        white-space: nowrap;


    }





    .flex-border {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        width: 300px;
        height: 65px;
        white-space: nowrap;
        position: relative;
        margin: 8px;
        margin-top: -90px;

    }

    .icon-color {
        color: #7E7E7E;
        height: 35px;
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    .icon-color2 {
        color: #9356DC;
        height: 35px;
        margin-left: 20px;
        display: flex;
        align-items: center;
    }




    .text-color {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #000000;
    }



    /* section restaurants */



    .title-restaurant {


        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-top: 30px;
        position: relative;
        padding-right: 52%;



    }


    .cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 50px;
        gap: 15px;


    }

    .cards a {
        height: 220px;
    }


    .card {
        width: 400px;
    }

    .sub-title-img {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #000000;
    }

    .sub-title-p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        color: #000000;


    }


    .sub-title-img,
    .sub-title-p {
        margin-top: 15px;
        margin-left: 15px;
        line-height: 7px;

    }



    .empty {
        position: relative;
        bottom: -70px;
        left: -50px;
        font-size: 22px;

    }

    .full {
        position: relative;
        bottom: -70px;
        left: -77px;
        font-size: 22px;
        opacity: 0;
        transform: scale(0);
        transition-property: all;
        transition-duration: 700ms;

    }


    .heart-container:hover .full {
        background-image: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(1);
        opacity: 1;


    }



    .section-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding-left: 30%;

    }

    .footer-color {
        background-color: #353535;
        padding-top: 10px;



    }

    .section-footer h3 {
        position: relative;
        bottom: 8px;
        left: 88%;
        color: #F7F7F7;
    }

    .section-footer a {
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

     .i-color2 {
        margin-right: 30px;
    }

    .logo-desktop {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 192.5px;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .logo-desktop .logo-left {
        position: absolute;
        left: 20px;
        top: 28px;
        color: #353535;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    figure {
        margin: 0;
        height: 450px;
        width: 100%;
    }

    figure img {
        object-fit: cover;
        height: 115%;
    }

    .case {
        position: relative;
        bottom: 205px;
        left: 280px;
        background: #99E2D0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        padding: 10px 15px 10px 15px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #008766;

    }

    .cards-restaurant {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;

    }

    .card-plus {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .card-restaurant {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        width: 65%;
        height: 60px;
        overflow: hidden;


    }



    .entrées {

        animation: slide 2000ms linear 0s;

    }

    .plats {
        animation-name: slide;
        animation-duration: 2000ms;


    }

    .desserts {
        animation-name: slide;
        animation-duration: 2000ms;


    }


    @keyframes slide {
        from {

            opacity: 0;
            width: 50%;

        }

        to {

            opacity: 1;
            width: 100%;
        }


    }

    .card-description {
        display: flex;
        align-content: space-around;
        align-items: center;
        min-width: 100%;
        transition-duration: 1s;
        flex-wrap: wrap;
        height: 60px;
    }

    .check-box {
        border-radius: 0px 15px 15px 0px;
        background-color: #99E2D0;
        min-width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .check-center {
        display: flex;
        color: #FFFFFF;

    }

    .card-restaurant:hover .card-description {
        cursor: pointer;
        min-width: calc(100% - 60px);


    }

    .card-restaurant:hover .card-p {
        overflow: hidden;
        width: calc(100% - 60px);
        text-overflow: ellipsis;



    }



    .card-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #000000;
        width: 100%;
        padding: 0;
        margin: 0;

    }


    .card-p {

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        color: #000000;
        white-space: nowrap;
        margin: 0;
        width: calc(100% - 60px);
        transition: all 2s;
        text-overflow: ellipsis;
        overflow: hidden;

    }



    .card-price {
        background-color: #FFFFFF;
        position: sticky;
        left: 265%;
        bottom: 8px;
        margin-right: 10px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        color: #353535;


    }



    .card-title,
    .card-p {
        height: 18px;
        margin-left: 15px;


    }

    .title-card-restaurant {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


    }

    .title-card-restaurant .heart-empty {
        position: relative;
        left: 20px;
        font-size: 22px;

    }

    .title-card-restaurant .heart-full {
        position: relative;
        left: -2px;
        font-size: 22px;
        opacity: 0;
        transition-property: all;
        transition-duration: 3000ms;
    }

    .heart-full:hover {
        background-image: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
    }

    .sub-title-restaurant span {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-top: 20px;
        line-height: 30px;


    }

    .sub-title-restaurant {
        padding-left: 17.5%;

    }

    .sub-title-restaurant span:after {
        display: block;
        content: "";
        width: 5%;
        height: 3px;
        background-color: #99E2D0;

    }


    .btn {

        background: linear-gradient(#FF79DA, #9356DC);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        border: none;
        padding: 0px 45px 0px 45px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 30px;
        transition: all;

    }

    .btn:hover {
        transform: scale(1.0005);
        opacity: 0.9;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 2);

    }


}

@media (max-width:1079px) and (min-width: 768px) {



    body {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;

    }




    /* section fonctionnement */


    .section-title {
        position: relative;
        bottom: 90px;
        padding-left: 15px;
        width: 100%;
        margin-top: -30px;

    }



    .number {

        position: absolute;
        left: -10px;
        top: 17px;
        border-radius: 20px;
        background-color: #9356DC;
        width: 20px;
        height: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 3px;
        color: #F7F7F7;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

    }



    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5%;
        margin-top: 90px;
        margin-bottom: -40px;
        justify-content: center;
        white-space: nowrap;


    }





    .flex-border {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        width: 30%;
        height: 60px;
        white-space: nowrap;
        position: relative;
        margin: 11px;
        margin-top: -90px;
        
    }

    .icon-color {
        color: #7E7E7E;
        height: 35px;
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    .icon-color2 {
        color: #9356DC;
        height: 35px;
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    



    .text-color {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: #000000;
        margin-left: -10px;
    }



    /* section restaurants */



    .title-restaurant {


        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-top: 30px;
        padding-right: 550px;


    }


    .cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 50px;
        gap: 15px;


    }

    .cards a {
        height: 220px;
    }


    .card {
        width: 300px;
    }





    .sub-title-img {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #000000;
    }

    .sub-title-p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        color: #000000;


    }


    .sub-title-img,
    .sub-title-p {
        margin-top: 15px;
        margin-left: 15px;
        line-height: 7px;

    }



    .empty {
        position: relative;
        bottom: -70px;
        left: -50px;
        font-size: 22px;

    }

    .full {
        position: relative;
        bottom: -70px;
        left: -77px;
        font-size: 22px;
        opacity: 0;
        transform: scale(0);
        transition-property: all;
        transition-duration: 700ms;

    }


    .heart-container:hover .full {
        background-image: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(1);
        opacity: 1;


    }




    .case {
        position: relative;
        bottom: 205px;
        left: 185px;
        background: #99E2D0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        padding: 10px 15px 10px 15px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #008766;

    }

    figure {
        margin: 0;
        height: 320px;
        width: 100%;
    }

    figure img {
        object-fit: cover;
        height: 120%;
    }

    .cards-restaurant {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;

    }

    .card-plus {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .card-restaurant {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        width: 65%;
        height: 60px;
        overflow: hidden;


    }
    .entrées {

        animation: slide 2000ms linear 0s;

    }

    .plats {
        animation-name: slide;
        animation-duration: 2000ms;


    }

    .desserts {
        animation-name: slide;
        animation-duration: 2000ms;


    }


    @keyframes slide {
        from {

            opacity: 0;
            width: 50%;

        }

        to {

            opacity: 1;
            width: 100%;
        }


    }

    .card-description {
        display: flex;
        align-content: space-around;
        align-items: center;
        min-width: 100%;
        transition-duration: 1s;
        flex-wrap: wrap;
        height: 60px;
    }

    .check-box {
        border-radius: 0px 15px 15px 0px;
        background-color: #99E2D0;
        min-width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .check-center {
        display: flex;
        color: #FFFFFF;

    }

    .card-restaurant:hover .card-description {
        cursor: pointer;
        min-width: calc(100% - 60px);


    }

    .card-restaurant:hover .card-p {
        overflow: hidden;
        width: calc(100% - 60px);
        text-overflow: ellipsis;



    }



    .card-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #000000;
        width: 100%;
        padding: 0;
        margin: 0;

    }


    .card-p {

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        color: #000000;
        white-space: nowrap;
        margin: 0;
        width: calc(100% - 60px);
        transition: all 2s;
        text-overflow: ellipsis;
        overflow: hidden;

    }



    .card-price {
        background-color: #FFFFFF;
        position: sticky;
        left: 265%;
        bottom: 8px;
        margin-right: 10px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        color: #353535;


    }



    .card-title,
    .card-p {
        height: 18px;
        margin-left: 15px;


    }

    .title-card-restaurant {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


    }

    .title-card-restaurant .heart-empty {
        position: relative;
        left: 20px;
        font-size: 22px;

    }

    .title-card-restaurant .heart-full {
        position: relative;
        left: -2px;
        font-size: 22px;
        opacity: 0;
        transition-property: all;
        transition-duration: 3000ms;
    }

    .heart-full:hover {
        background-image: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
    }

    .sub-title-restaurant span {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-top: 20px;
        line-height: 30px;


    }

    .sub-title-restaurant {
        padding-left: 17.5%;

    }

    .sub-title-restaurant span:after {
        display: block;
        content: "";
        width: 7%;
        height: 3px;
        background-color: #99E2D0;

    }




    .section-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-left: -80px;

    }

    .footer-color {
        background-color: #353535;
        padding-top: 10px;
        margin-top: 70px;


    }

    .section-footer h3 {
        position: relative;
        bottom: 8px;
        left: 80%;
        color: #F7F7F7;
    }

    .section-footer a {
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        
    }

     .i-color2 {
        margin-right: 20px;
    }









}